<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
 http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="Student_factory_method" class="com.pushan.Bean_Creation_Using_Static_Factory_Method.Student_factory_method" factory-method="createStudentFactoryMethod"/>

</beans>